/* Cores */
$primary-color: #A66352;
$secondary-color: #D1BBAF;
$tertiary-color: #975c4d;
$quaternary-color: #A76352;
$bg-color: #090e1a;
$bg-card: #0F1524;
$off-white: #F8F1ED;
$white: #f1f5f9;
$white-60: #FFFFFF99;
$border-card: #A763524D;
$hover-button: #9E5F4F1B;
$ebony-clay: #20283C;
$steel-blue: #7588A3;
$terracota: #A763521A;
$bg-image: #5d4f50;
$divider-color: "#f8f1ed17";

/* Fontes */
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;